{% extends 'header.html' %} {% block content %}
<div class="user-dashboard">
  <h1>Produts Add</h1>
  <div class="text-right" style="margin-bottom: 10px;">
    <a href="/products" class="btn btn-primary btn-sm "> Produts List </a>
  </div>
</div>
<div class="col-md-8">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
      <label for="product_name">Product Name</label>
      <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Enter Product Name"
        required>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" placeholder="Enter Product Description"
        rows="3" required></textarea>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control-file" id="image" name="image">
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="is_active" name="is_active" value="1">
      <label class="form-check-label" for="is_active">Is Active</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>


{% endblock %}