{% extends 'header.html' %} {% block content %}

<div class="col-md-8">
    <h4>Change Username & Password </h4>
    <form method="post" id="frmActionSubmit">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username"
                placeholder="Enter New Username" value="{{result.username}}"/>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="Enter New Password"
                value="{{result.password}}"/>
        </div>

        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="text" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password"/>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

{% endblock %}

{% block footer %}

<script>
    $("#frmActionSubmit").validate({
        rules: {
            username: {
                required: true,
            },
            password: {
                required: true,
            },
            confirm_password: {
                required: true,
            },
        },

        messages: {
            username: "Please Enter Username.",
            password: "Please Enter Password.",
            confirm_password: "Please Confirm Password.",
        },
    });
</script>

{% endblock %}

