<!DOCTYPE html>
<html>

<head>
    <title>Django 3 CRUD Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo text-center">
                    <a href="/dashboard">
                        <img src="/static/img/bootstrap-logo.svg" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="/static/img/bootstrap-logo.svg" alt="merkery_logo"
                            class="visible-xs visible-sm circle-logo">
                    </a>
                    <br>
                    <a href="/dashboard" class="view btn-xs btn-info"><i class="fa fa-user"></i> {{ request.session.username }} </a>
                </div>
                
                <div class="navi">
                    <ul>
                        <li class="{% if request.path == '/products/' %}active{%endif%}">
                            <a href="/products" data-toggle="tooltip" data-placement="top" title="CRUD">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">CRUD</span>
                            </a>
                        </li>

                        <li class="{% if request.path == '/products_ajax/' %}active{%endif%}">
                            <a href="/products_ajax" data-toggle="tooltip" data-placement="top" title="CRUD Ajax">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">CRUD Ajax</span>
                            </a>
                        </li>

                        <li class="{% if request.path == '/crud_django/' %}active{%endif%}">
                            <a href="/crud_django" data-toggle="tooltip" data-placement="top" title="CRUD Django">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">CRUD Django</span>
                            </a>
                        </li>

                        <li class="{% if request.path == '/crud_django_ajax/' %}active{%endif%}">
                            <a href="/crud_django_ajax" data-toggle="tooltip" data-placement="top" title="CRUD Django Ajax">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">CRUD Django Ajax</span>
                            </a>
                        </li>

                        <li>
                            <a href="/userRegistration" data-toggle="tooltip" data-placement="top" title="Custom Regitration">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">Custom Regitration</span>
                            </a>
                        </li>

                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Notes">
                                <i class="fas fa-sticky-note"></i>
                                <span class="hidden-xs hidden-sm">Notes</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu"
                                        aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                            <h1>Hello, WelCome {{ request.session.username }} </h1>
                            </div>
                        
                        </div>

                        <div class="col-md-5">
                            <div class="header-rightside">
                                
                                <ul class="list-inline header-top pull-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/img/bootstrap-logo.svg"
                                                alt="user">
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <a href="/dashboard"><span><strong>{{ request.session.username }}</strong></span></a>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="/logout" class="view btn-xs btn-danger active"><i class="fas fa-sign-out-alt"></i>
                                                        Logout </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                       
                        <!-- <div class="col-md-3">
                            <h1>Hello,{{ request.session.username }} </h1>
                        </div> -->

                        <div class="col-md-6">
                            {% for message in messages %}
                            <div class="alert alert-warning " role="alert">
                                <strong>{{ message }} {{ request.session.username }}</strong>
                                <!-- Add Session -->
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                        </div>

                     
                        

                    </header>
                </div>
                {% block content %} {% endblock %}
            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.0.min.js"
        integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

    <script>
        $(document).ready(function () {
                $('[data-toggle="offcanvas"]').click(function () {
                    $("#navigation").toggleClass("hidden-xs");
                });
            });
    </script>
    
    {% block footer %} {% endblock %}

</body>

</html>
